<h1 mat-dialog-title>Error occured</h1>
<mat-dialog-content>Data not found</mat-dialog-content>
<mat-dialog-actions>
 
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true">Ok</button>
</mat-dialog-actions>