.example-container {
  display: flex;
  flex-direction: column;
  margin:100px;
}


.mat-card {    
    text-align: -webkit-center;    
}    
    
 
    

    
.demo-full-width {    
    width: 50%;    
}    
    
  
    
mat-card {    
    max-width: 70%;    
     margin: 10px auto;  
    text-align: center;    
}    
    
  

    
.content-center {    
    text-align: -webkit-center;    
}    