



<div class="example-container">

  <mat-card style="margin:7em;">    
    <!-- Title of an Card -->    
    <mat-card-title>    
        Login Form 
    </mat-card-title>    
    
    <mat-card-content>    
        
        <form #f="ngForm" (ngSubmit)="signin(f)" novalidate >
             
                         <mat-form-field class="demo-full-width" >    
                            <input matInput name="username" ngModel placeholder="Username">    
                        </mat-form-field>    
                     
                        
                
                
                        <mat-form-field class="demo-full-width">    
                            <input matInput name="password" ngModel placeholder="Password">    
                        </mat-form-field>    
                    <div colspan="2" class="content-center">    
                        <button mat-raised-button color="primary">Login</button>    
                      
                    
             
             </div>    
         </form>   
    </mat-card-content>    
</mat-card>   
</div>