.simplestyle{

margin-top:100px;
margin-left:100px;


}



 
    

    
.demo-full-width {    
    width: 50%;    
}    
    
  
    
.mat-teal-bg {
    background-color: #008269 !important;
    color: white !important;
}

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  .mat-header-cell.mat-sort-header-sorted {
    color: black;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
 
  
  .fab-btn{
    background: #008269 !important;
    margin-right: 2%;
  }
  
    
    
  

