
<div class="simplestyle">

<div class="example-container">

  <mat-card style="margin:7em;">    
    <!-- Title of an Card -->    
    <mat-card-title>    
        Student Search 
    </mat-card-title>    
    
    <mat-card-content>    
        
          <form #f="ngForm" (ngSubmit)="searchfunctionality(f)" novalidate >
             
                  <mat-form-field class="demo-full-width" >    
                  <input matInput placeholder="Enter student enrollment number" name="enrollment_no" ngModel>    
                  </mat-form-field>    
                     
                  <div colspan="2" class="content-center">    
                <button mat-raised-button color="primary">Search</button>    
                      
             </div>    
          </form>         
    </mat-card-content>    
  </mat-card>   
</div>




<div *ngIf="datatablehide" >

<ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="70"  [rowHeight]="'auto'" [rows]="student_rows" [limit]="10" style="width: 1363px;" #studentTable>
  <ngx-datatable-column name="Student Name" prop="student_name" [width]="50" [draggable]="false" [resizeable]="false">jjj
        <ng-template let-value="value" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <span [routerLink]="" class="pointer">
            {{value}}
          </span>
        </ng-template>
  </ngx-datatable-column>

<ngx-datatable-column name="Student Batch" prop="student_batch" [width]="50" [draggable]="false" [resizeable]="false" >
        <ng-template let-value="value" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <span [routerLink]="" class="pointer">
            {{value}}
          </span>
        </ng-template>
</ngx-datatable-column>
      
<ngx-datatable-column name="Enrollment Number" prop="student_enrollmentno" [width]="50" [draggable]="false" [resizeable]="false" >
        <ng-template let-value="value" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <span [routerLink]="" class="pointer">
            {{value}}
          </span>
     
        </ng-template>
</ngx-datatable-column>

     
<ngx-datatable-column [width]="50" [draggable]="false"  [resizeable]="false">
        <ng-template let-value="value" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <button mat-raised-button name="status" value="cleared" color="primary" (click)="updatestatus(row.student_enrollmentno,'cleared')"  >Cleared </button>
          <button mat-raised-button name="status" value="uncleared" (click)="updatestatus(row.student_enrollmentno,'uncleared')"  color="warn">Uncleared</button>
        </ng-template>
</ngx-datatable-column> 

</ngx-datatable>  



<ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="70"  [rowHeight]="'auto'" [rows]="defaulter_rows" [limit]="10" style="width: 1363px;" #defaulterTable>

      <ngx-datatable-column name="Department Defaulter" prop="department_defaulter" [width]="100" [draggable]="false" [resizeable]="false">
        <ng-template let-value="value" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <span [routerLink]="" class="pointer">
            {{value}}
          </span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Finance Defaulter" prop="finance_defaulter" [width]="100" [draggable]="false" [resizeable]="false">
        <ng-template let-value="value" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <span [routerLink]="" class="pointer">
            {{value}}
          </span>
        </ng-template>
      </ngx-datatable-column>

     
</ngx-datatable>  
</div>

</div>

