<div class="example-container">

  <mat-card style="margin:7em;">    
    <!-- Title of an Card -->    
    <mat-card-title>    
        Signup Form
    </mat-card-title>    
    
    <mat-card-content>    
        
            <form novalidate #f="ngForm" (ngSubmit)="signup(f)" >
             

                         <mat-form-field  class="demo-full-width" >    
                            
                            <div class="form-group">
                            <input matInput placeholder="Enter Username"      name="username" ngModel        required>
                            </div>    
                        </mat-form-field>    
                     
                        <mat-form-field class="demo-full-width">    
                            <div class="form-group">
                            <input matInput name="password" ngModel  placeholder="Enter Password" required>
                            </div>    
                        </mat-form-field>

                        <mat-form-field class="demo-full-width">    
                            <div class="form-group">
                            <input matInput name="email" ngModel placeholder="Enter email address"> 
                            </div>   
                        </mat-form-field>

                       


                        <mat-form-field class="demo-full-width"> 
                        <div class="form-group">   
                            <input matInput name="designation" ngModel  placeholder="Enter Designation" required>
                            </div>    
                        </mat-form-field>


                    <div  class="content-center">    
                        <button mat-raised-button color="warn">Signup</button>    
                      
                    
             
             </div>    
       </form>     
    </mat-card-content>    
</mat-card>   
</div>