.example-container {
  display: flex;
  flex-direction: column;
  margin:100px;
}


.mat-card {    
    text-align: -webkit-center;    
}    
    
 
    

    
.demo-full-width {    
    width: 60%;    
}    
    
  
    
mat-card {    
    max-width: 100%;    
     
    
}    
    
  
.
    
.content-center {    
    text-align: -webkit-center;    
}    