
<mat-toolbar  class="fixed-header dashboard-sidenavbarcolor">
  <span><mat-icon svgIcon="hamburger" (click)="sidenav.toggle()"></mat-icon></span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <span><a (click)="logout()">Logout</a></span>
  
</mat-toolbar>

<mat-sidenav-container class="example-container " >
  <mat-sidenav #sidenav opened="false"  class="sidenavbarmargin dashboard-sidenavbarcolor">
  
  <ul style="list-style-type: none;">  <li>
<span class="span-class" [routerLink]="['/dashboard/search']"><mat-icon svgIcon="search" ></mat-icon>Search Students
</span>   </li>   
 <li class="span-class">
<span   [routerLink]="['/dashboard/list']"><mat-icon svgIcon="list" ></mat-icon>List of cleared students</span>   </li>
     
</ul>
  </mat-sidenav>



 <router-outlet></router-outlet>






</mat-sidenav-container>
