/* You can add global styles to this file, and also import other style files */


@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@swimlane/ngx-datatable/release/themes/material.css';


.ngx-datatable.material .datatable-header .datatable-header-cell {


font-size: 25px;
font-weight: 700;
color: rgb(0, 0, 0);
background-color:blue;  

  }  



 .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
 
font-size: 26px;
 } 