

<mat-table #table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="StudentName">
      <mat-header-cell *matHeaderCellDef> Student Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.student_name}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="StudentBatch">
      <mat-header-cell *matHeaderCellDef> Student Batch </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.student_batch}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="StudentEnrollment">
      <mat-header-cell *matHeaderCellDef> Student Enrollment No </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.student_enrollmentno}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="StudentStatus">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
    </ng-container>

   

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>